{% extends 'templates/base.twig' %} {% block content %}
<script type="text/javascript" src="http://momentjs.com/downloads/moment-with-locales.min.js"></script>
<script src="{{ url('/') }}/js/bootstrap-material-datetimepicker.js"></script>
<meta name="csrf-token" id="csrf-token" content="{{ csrf_token() }}">
<div id="breadcrumbs-wrapper">
    <!-- Search for small screen -->
    <div class="container">
        <!--Start breadcrumbs -->
        <div class="row">
            <div class="col s10 m6 l6">
                <h5 class="breadcrumbs-title">實例題測驗題目</h5>
                <ol class="breadcrumbs">
                    <li><a class='' href='{{url('/')}}'>首页</a></li>
                    <li><a class='active'>實例題測驗題目</a></li>
                </ol>
            </div>
        </div>
        <!--End breadcrumbs -->
    </div>
    <hr>
    <!-- START content -->
    {% block container %}
    <style type="text/css" media="screen">
    .exted {

        border-right: 1px;
        border-color: white;
        border-style: solid;
    }

    </style>
    <div class="container" style="min-height:600px">
        <!-- START searchBar -->
        <div class="row">
            {# <div class="col xl1 s6">
                <a href="#modal1" class="btn-floating waves-effect waves-light gradient-45deg-light-blue-cyan addUser modal-trigger tooltipped" data-position="bottom" data-delay="50" data-tooltip="新增一笔订单" id="addUser">
                    <i class="material-icons">add</i>
                </a>
            </div> #}
            <form action="{{url('/search')}}" method="GET" class="searchBar">
                <div class="input-field col s6 m4 l2">
                    <i class="material-icons prefix">attach_money</i>
                    <input type="text" name="q" value="" placeholder="搜寻幣別" value="">
                </div>
                {# <div class="input-field col s6 m4 l2">
                    <i class="material-icons prefix">local_offer</i>
                    <input type="text" name="pOrder" value="" placeholder="请输入玩加单号" value="">
                </div> #}
                <div class="input-field col col s6 l1">
                    <button class="align-right  btn-floating waves-effect waves-light gradient-45deg-light-blue-cyan" id="find"> <i class="material-icons white-text">search</i> </button>
                    &nbsp;&nbsp;&nbsp;&nbsp;
                </div>
            </form>
            <div class="input-field col col s6 l1">
                <button data-target="modal1" class="align-right  btn-floating waves-effect waves-light purple lightrn-1 modal-trigger" id="add"> <i class="material-icons white-text">playlist_add</i> </button>
            </div>
            <!-- END searchBar -->
            <div class="row">
                <table class='striped col l10 offset-l1' style="color:white">
                    <thead>
                        <tr class='#c51162 pink accent-4 bordered'>
                            <th rowspan="2" class='exted'>
                                <center>幣別</center>
                            </th>
                            <th colspan="2" class='exted'>
                                <center> 現金匯率</center>
                            </th>
                            <th colspan="2" class='exted'>
                                <center>即期匯率</center>
                            </th>
                            <th rowspan="2" class='exted'>
                                <center>功能</center>
                            </th>
                        </tr>
                        <tr class='#c51162 pink accent-4 bordered'>
                            <th class='exted'>
                                <center> 本行買入</center>
                            </th>
                            <th class='exted'>
                                <center>本行賣出</center>
                            </th>
                            <th class='exted'>
                                <center>本行買入</center>
                            </th>
                            <th class='exted'>
                                <center>本行賣出</center>
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            {% for view in data %}
                            <td><img class='circle ' style='width:20px;height:20px;' src="{{url('images/flag')}}/{{view.flags.path}}" alt=""> &nbsp;&nbsp; <span class='black-text '>{{view.flags.name}} ({{view.flags.coinname}} )</span></td>
                            <td> {% if view.cashbuy == 0 %} <span class='black-text right'>－</span>　 {% else %} <span class='black-text right'>{{view.cashbuy |trim(0,'right')}} </span>　{% endif %} </td>
                            <td> {% if view.cashsell == 0 %} <span class='black-text right'>－ </span>　{% else %} <span class='black-text right'>{{view.cashsell |trim(0,'right')}}</span>　{% endif %} </td>
                            <td> {% if view.spotbuy == 0 %} <span class='black-text right'>－ </span>　{% else %} <span class='black-text right'>{{view.spotbuy |trim(0,'right')}} </span>　{% endif %} </td>
                            <td> {% if view.spotsell == 0 %} <span class='black-text right'>－</span>　 {% else %} <span class='black-text right'>{{view.spotsell |trim(0,'right')}}</span>　{% endif %} </td>
                            <td class='center'>
                                &nbsp; &nbsp;
                                <button data-target="modal1" class="btn-floating waves-effect waves-light green darken-1 edit modal-trigger" data="{{view}}">
                                    <i class="material-icons">mode_edit</i>
                                </button>
                                &nbsp;&nbsp;
                                <button class="btn-floating waves-effect waves-light red accent-2 delete" delid="{{view.id}}">
                                    <i class="material-icons">clear</i>
                                </button>
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
            {{viewPage|raw}}
        </div>
        <!-- Modal Structure -->
        <div id="modal1" class="modal">
            <div class="modal-content">
                <h4 class='head'>新增幣別</h4>
                <div class="row">
                    <form class="col s12" id='create' method='POST' action="{{url('/create')}}">
                        {{csrf_field()}}
                        <div class="row flagselect">
                            <select name="sflags">
                                {% for item in selectFlags %}
                                <option value="{{item.id}}" class='circle' data-icon="{{url('images/flag')}}/{{item.path}}"> {{item.name}} ( {{item.coinname}}) </option>
                                {% endfor %}
                            </select>
                        </div>
                        <div class="row">
                            <h4 class='header'> 現金匯率</h4>
                            <div class="input-field col s6 l6">
                                <input name='cashbuy' type="text" class="validate cashbuy">
                                <label class="active" for="cashbuy">本行買入</label>
                            </div>
                            <div class="input-field col s6 l6">
                                <input name='cashsell' type="text" class="validate">
                                <label class="active" for="cashsell">本行賣出</label>
                            </div>
                        </div>
                        <div class="row">
                            <h4 class='header'> 即期匯率</h4>
                            <div class="input-field col s6 l6">
                                <input name='spotbuy' type="text" class="validate">
                                <label class="active" for="spotbuy">本行買入</label>
                            </div>
                            <div class="input-field col s6 l6">
                                <input name='spotsell' type="text" class="validate">
                                <label class="active" for="spotsell">本行賣出</label>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <a id="confrim" class=" waves-effect waves-green btn-flat">确定</a>
                            <a id="editConfrim" class=" waves-effect waves-green btn-flat">确定</a>
                            <a id="confrim1" class=" modal-close waves-effect waves-green btn-flat">关闭</a>
                        </div>
                    </form>
                </div>
                <!-- end modals -->
            </div>
            <!-- END content -->
            <script>
            //add crsf
            $.ajaxSetup({
                headers: {
                    'X-CSRF-TOKEN': $('meta[name="csrf-token"]').attr('content')
                }
            });
            var url = "{{url('/')}}";


            //on click Event in Record
            $("#confrim").on('click', function() {
                $("#create").submit();
            });
            // type Enter Event in Record
            $("#search").on('keydown', function(e) {
                if (e.keyCode == 13) {
                    $("#search").submit();
                }

            });

            $(".modal").modal();


            if ("{{app.request.q}}") {
                $("input[name='q']").val("{{app.request.q}}");
            }
            //delete start
            $(".delete").on('click', function() {

                var delid = $(this).attr('delid');
                swal({
                        title: "您确定要删除吗?",
                        icon: "warning",
                        buttons: true,
                        dangerMode: true,
                    })
                    .then((willDelete) => {
                        if (willDelete) {
                            $.ajax({
                                url: url + "/delete",
                                type: 'delete',
                                data: { id: delid },
                                dataType: "json",

                                success: function(res) {
                                    if (res.status == 200) {
                                        swal('成功', res.msg);
                                    } else {
                                        swal('失败', res.msg);
                                    }
                                    $(".swal-button--confirm").on('click', function() {
                                        window.location.reload();
                                    })

                                }
                            })

                        } else {
                            swal("无操作!");
                        }
                    });

            });


            //delete end

            //create
            $("#add").on('click', function() {
                $(".head").text("新增幣別");
                $(".flagselect").show();
                $("#confrim").show();
                $("#editConfrim").hide();
            })
            //update start

            $(".edit").on('click', function() {
                $("#confrim").hide();
                $("#editConfrim").show();
                var data = jQuery.parseJSON($(this).attr('data'));
                $("select").hide();
                $("input[name='cashbuy']").val(data.cashbuy);
                $("input[name='cashsell']").val(data.cashsell);
                $("input[name='spotbuy']").val(data.spotbuy);
                $("input[name='spotsell']").val(data.spotsell);
                $(".head").text('修改' + data.flags.name + '幣別');
                $("label").addClass('active');
                $(".flagselect").hide();

                $("#editConfrim").on('click', function() {
                    $.ajax({
                        url: url + "/update",
                        type: 'put',
                        data: {
                            id: data.id,
                            cashbuy: $("input[name='cashbuy']").val(),
                            cashsell: $("input[name='cashbuy']").val(),
                            spotbuy: $("input[name='spotbuy']").val(),
                            spotsell: $("input[name='spotsell']").val(),
                        },
                        dataType: "json",

                        success: function(res) {
                            if (res.status == 200) {
                                swal('成功', res.msg);
                            } else {
                                swal('失败', res.msg);
                            }
                            $(".swal-button--confirm").on('click', function() {
                                window.location.reload();
                            })

                        }
                    })
                });

            });

            //update end

            </script>
            {% endblock %}
            {% endblock %}
