{% extends 'templates/base.twig' %} {% block content %}

<div class="card">
	<div class="card-content light-blue darken-3 l white-text">title</div>
	<h4 class='header2' style="padding-left: 1%;">
		time
	</h4>
	<!--{{dump(report)}} -->
	<div class="card-content">
		<table class="striped">
			<tr>
		
				<th></th>
		
			</tr>
		
		
			<tr>
				<td></td>
				<td></td>
				<td></td>
				
			</tr>
		
		</table>
	</div>
	<div>
		<div>page</div>
		<!--<button type="button" onclick="history.back();" class="btn waves-effect waves-light">
			<i class="material-icons left">reply</i>回上页
		</button>
		<a 
		href=""
		class="btn waves-effect waves-light">
			<i class="material-icons left">autorenew</i>刷新
		</a>-->
	</div>
	<br/>
</div>
{% include 'templates/errorAlert.twig' %} {% endblock %}