html,
body {
    height: 100%;
}

html {
    display: table;
    margin: auto;
}

body {
    background-image: url("../images/login_bg.jpg");
    background-position: center;
    /* Center the image */
    /* Do not repeat the image */
    background-size: cover;
    /* Resize the background image to cover the entire container */
    display: table-cell;
    vertical-align: middle;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}
