{% extends 'templates/base.twig' %}
{% block content %}
<script src="https://code.jquery.com/jquery-3.3.1.js" integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60=" crossorigin="anonymous"></script>
<div id="breadcrumbs-wrapper">
    <!-- Search for small screen -->
    <div class="container" style="min-height:900px">
        <!--Start breadcrumbs -->
        <div class="row">
            <div class="col s10 m6 l6">
                <h5 class="breadcrumbs-title">Json格式Make</h5>
                <ol class="breadcrumbs">
                    <li><a class='active'>Json格式Make/</a></li>
                </ol>
            </div>
        </div>
        <div class="row">
            <div class="col s10 m6 l6">
                <div class="card-panel">
                    <h4 class="header2">Get Token</h4>
                    <div class="row">
                        <form class="col s12" _lpchecked="1" action="{{url('/test/getToken')}}" method="post">
                            {{csrf_field()}}
                            <div class="row">
                                <div class="input-field col s12">
                                    <input id="user" type="text" name="user">
                                    <label for="user" class="">User</label>
                                </div>
                            </div>
                            <div class="row">
                                <div class="input-field col s12">
                                    <input id="password" type="password" name="password">
                                    <label for="password" class="active">password</label>
                                </div>
                            </div>
                            <div class="row">
                                <label class="">Result</label>
                                <div class="input-field col s12">
                                    <span> {{data}} </span>
                                </div>
                                <div class="row">
                                    <div class="input-field col s12">
                                        <button class="btn cyan waves-effect waves-light right" type="submit" name="action">Submit
                                            <i class="material-icons right">send</i>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <div class="col s10 m6 l6">
                <div class="card-panel">
                    <h4 class="header2">Send Message</h4>
                    <div class="row">
                        <form class="col s12" _lpchecked="1" action="{{url('/test/sendMessage')}}" method="post">
                            {{csrf_field()}}
                            <div class="row">
                                <div class="input-field col s12">
                                    <input id="user" type="text" name="user" value="{{input.user}}">
                                    <label for="user" class="">User</label>
                                </div>
                            </div>
                            <div class="row">
                                <div class="input-field col s12">
                                    <input id="title" type="text" name="title" value="{{input.title}}">
                                    <label for="title" class="active">title</label>
                                </div>
                            </div>
                            <div class="row">
                                <div class="input-field col s12">
                                    <input id="message" type="text" name="message" value="{{input.message}}">
                                    <label for="message" class="active">message</label>
                                </div>
                            </div>
                            <div class="row">
                                <div class="input-field col s12">
                                    <input id="cellphone" type="text" name="cellphone" value="{{input.cellphone}}">
                                    <label for="cellphone" class="active">cellphone</label>
                                </div>
                            </div>
                            <div class="row">
                                <label class="">Result</label>
                                <div class="input-field col s12">
                                    <textarea>{{sendMessage}} </textarea>
                                </div>
                                <div class="row">
                                    <div class="input-field col s12">
                                        <button class="btn cyan waves-effect waves-light right" type="submit" name="action">Submit
                                            <i class="material-icons right">send</i>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <div class="col s10 m6 l6">
                <div class="card-panel">
                    <h4 class="header2">Get Balance</h4>
                    <div class="row">
                        <form class="col s12" _lpchecked="1" action="{{url('/test/GetBalance')}}" method="post">
                            {{csrf_field()}}
                            <div class="row">
                                <div class="input-field col s12">
                                    <input id="user" type="text" name="user">
                                    <label for="user" class="">User</label>
                                </div>
                            </div>
                            <div class="row">
                                <label class="">Result</label>
                                <div class="input-field col s12">
                                    <span> {{getBalance}} </span>
                                </div>
                                <div class="row">
                                    <div class="input-field col s12">
                                        <button class="btn cyan waves-effect waves-light right" type="submit" name="action">Submit
                                            <i class="material-icons right">send</i>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <div class="col s10 m6 l6">
                <div class="card-panel">
                    <h4 class="header2">Get ApiReceive</h4>
                    <div class="row">
                        <form class="col s12" _lpchecked="1" action="{{url('/test/ApiReceive')}}" method="post">
                            {{csrf_field()}}
                            <div class="row">
                                <div class="input-field col s12">
                                    <input id="user" type="text" name="user" value={{input.user}}>
                                    <label for="user" class="">User</label>
                                </div>
                                <div class="input-field col s12">
                                    <input id="startTime" type="text" name="startTime" value="{{'-1 hour'|date('Y-m-d H:i:s')}}">
                                    <label for="startTime" class="">startTime</label>
                                </div>
                                <div class="input-field col s12">
                                    <input id="endTime" type="text" name="endTime" value="{{'3 hour'|date('Y-m-d H:i:s')}}">
                                    <label for="endTime" class="">endTime</label>
                                </div>
                                        <div class="input-field col s12">
                                    <input id="record_id" type="text" name="record_id" value="{{input.record_id}}">
                                    <label for="record_id" class="">record_id</label>
                                </div>
                            </div>
                            <div class="row">
                                <label class="">Result</label>
                                <div class="input-field col s12">
                                    <span> {{ApiReceive}} </span>
                                </div>
                                <div class="row">
                                    <div class="input-field col s12">
                                        <button class="btn cyan waves-effect waves-light right" type="submit" name="action">Submit
                                            <i class="material-icons right">send</i>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% include 'templates/errorAlert.twig' %}
    {% endblock %}
