<!DOCTYPE html>
<html lang="en">
<!--================================================================================
  Item Name: Materialize - Material Design Admin Template
  Version: 4.0
  Author: PIXINVENT
  Author URL: https://themeforest.net/user/pixinvent/portfolio
================================================================================ -->
<!-- Mirrored from pixinvent.com/materialize-material-design-admin-template/html/semi-dark-menu/layout-semi-dark.html by HTTrack Website Copier/3.x [XR&CO'2014], Mon, 21 Jan 2019 02:45:55 GMT -->

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="msapplication-tap-highlight" content="no">
    <title>Micro Program</title>
    <!-- Favicons-->
    <link rel="icon" href="../../images/favicon/favicon-32x32.png" sizes="32x32">
    <!-- Favicons-->
    <link rel="apple-touch-icon-precomposed" href="../../images/favicon/apple-touch-icon-152x152.png">
    <!-- For iPhone -->
    <meta name="msapplication-TileColor" content="#00bcd4">
    <meta name="msapplication-TileImage" content="images/favicon/mstile-144x144.html">
    <!-- For Windows Phone -->
    <!-- CORE CSS-->
  <link rel="stylesheet" href="{{url('/')}}/css/materialize.css">
    <link rel="stylesheet" type="text/css" href="{{url('/')}}/css/style.css">
    <link rel="stylesheet" type="text/css" href="{{url('/')}}/css/custom.css">
    <link type="text/css" rel="stylesheet" href="{{url('/')}}/css/prism.css">
    <link rel="stylesheet" href="{{ url('/')}}/css/bootstrap-material-datetimepicker.css" />
    <link href="{{url('/')}}/css/perfect-scrollbar.css" type="text/css" rel="stylesheet">
    <link href="{{url('/')}}/css/flag-icon.min.css" type="text/css" rel="stylesheet">
</head>
    <script type="text/javascript" src="{{url('/js/jquery.js')}}"></script>
    <script src="{{url('/')}}/js/materialize.min.js"></script>

<body class="layout-semi-dark">
    <!-- Start Page Loading -->
     {% include "templates/load.twig" %}
        {% include 'templates/errorAlert.twig' %}
    
    <!-- End Page Loading -->
    <!-- //////////////////////////////////////////////////////////////////////////// -->
     {% include "templates/head.twig" %}
    <!-- //////////////////////////////////////////////////////////////////////////// -->
    <!-- START MAIN -->
    <div id="main">
        <!-- START WRAPPER -->
        <div class="wrapper">
     {% include "templates/left_nav.twig" %}
       
            <!-- //////////////////////////////////////////////////////////////////////////// -->
            <!-- START CONTENT -->
            <section id="content">
                <!--breadcrumbs start-->
                <div id="breadcrumbs-wrapper">
                {% block content %} {% endblock %}
                    
                </div>
                <!--end container-->
            </section>
            <!-- END CONTENT -->
            <!-- //////////////////////////////////////////////////////////////////////////// -->
            
        </div>
        <!-- END WRAPPER -->
    </div>
    <!-- END MAIN -->
    <!-- //////////////////////////////////////////////////////////////////////////// -->
    <!-- START FOOTER -->
        {% include 'templates/footer.twig' %}
    <!-- END FOOTER -->
</body>

    <!-- ================================================
        Scripts
        ================================================ -->
    <!-- jQuery Library -->
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
    <script src="{{url('/')}}/js/prism.js"></script>
    <script src="{{url('/')}}/js/chart.min.js"></script>
    <script src="{{url('/')}}/js/perfect-scrollbar.min.js"></script>
    <!-- <script src="{{url('/')}}/js/dashboard-ecommerce.js"></
    script> -->
    <script src="{{url('/')}}/js/custom-script.js"></script>
    <script src="{{url('/')}}/js/plugins.js"></script>
    <script src="{{url('/')}}/js/jquery.cookies.min.js"></script>


</html>
