{% if session_has('sweet_alert.alert') %}
<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
	
<script>
swal({{ session_get('sweet_alert.alert') | raw }});

</script>
{% endif %}
