{# <div style="clear:both"></div>
<footer class="page-footer gradient-45deg-purple-deep-orange ">
	<div class="footer-copyright">
		<div class="container">
			<span>
			Copyright ©
			<script type="text/javascript">
			document.write(new Date().getFullYear());
			</script> 
			AIPlay
			All rights reserved.</span>
			<span class="right hide-on-small-only"> Design and Developed by 
			AIPlay
			</span>
		</div>
	</div>
</footer>
 #}


   <!-- START FOOTER -->
    <footer class="page-footer">
        <div class="footer-copyright">
	<div class="footer-copyright">
		<div class="container">
			<span>
			Copyright ©
			<script type="text/javascript">
			document.write(new Date().getFullYear());
			</script> 
			AIPlay
			All rights reserved.</span>
			<span class="right hide-on-small-only"> Design and Developed by 
			AIPlay
			</span>
		</div>
	</div>
        </div>
    </footer>
    <script type="text/javascript" src="{{url('/')}}/js/jquery.validate.js"></script>
<script type="text/javascript" src="{{url('/')}}/js/localization/messages_zh.min.js"></script>
    <!-- END FOOTER -->