<!-- START LEFT SIDEBAR NAV-->
<aside id="left-sidebar-nav" class="nav-expanded nav-lock nav-collapsible">
    <div class="brand-sidebar">
        <h1 class="logo-wrapper">
            <a href="{{url('/')}}" class="brand-logo darken-1">
                    <img src="../../images/logo/materialize-logo.png" alt="materialize logo">
                    <span class="logo-text">Micro</span>
                </a>
                <a href="#" class="navbar-toggler">
                    <i class="material-icons">radio_button_checked</i>
                </a>
        </h1>
    </div>
    <ul id="slide-out" class="side-nav fixed leftside-navigation">
        <li class="no-padding">
            <ul class="collapsible" data-collapsible="accordion">
                <li class="bold">

                    <a class=" waves-effect waves-cyan {{app.request.is('admin/index/*')  ? 'active':''}} ">
                        <i class="material-icons">dashboard</i>
                        <span class="nav-text">首页</span>
                    </a>

        </li>
                  <li class="bold">
                 
                        <a class=" waves-effect waves-cyan" href="{{url('logout')}}">
 
                       
                            <i class="material-icons">power_settings_new</i>
                            <span class="nav-text">登出</span>
                        </a>
                </li>
    </ul>
    <a href="#" data-activates="slide-out" class="sidebar-collapse btn-floating btn-medium waves-effect waves-light hide-on-large-only gradient-45deg-light-blue-cyan gradient-shadow">
        <i class="material-icons">menu</i>
    </a>
</aside>
<!-- END LEFT SIDEBAR NAV-->
